server:
  port: 9000
spring:
  application:
    name: EmployeeManagement
  datasource:
    driver-class-name: com.mysql.jdbc.Driver
    password: root
    url: jdbc:mysql://localhost:3306/batchEmp
    username : root
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect
    show-sql: true
  mvc:
    view:
      suffix: .jpa
    
