logging:
  file:
    name: userLogs
  level:
    root: info
server:
  port: 9008
spring:
  application:
    name: SBUserManagementProject
  datasource:
    driver-class-name: com.mysql.jdbc.Driver
    password: root
    url: jdbc:mysql://localhost:3306/usermanagementspring
    username: root
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect
    show-sql: true
 